@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.responsive-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
		justify-content: center;
	}
}
